html, body {
    margin: 0px;
    background-color: #2F4F30;
}

.titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 20px;
}

.texto-jugador {
    color: beige;
}

.carta {
    width: 150px;
}